body{
  background-color: #f4f4f4;
}

.nav-link{
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

.nav-link:hover{
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
}

.fab{
  color: #343A40;
}

.fab:hover{
  color: #5186A8;
  cursor: pointer;
}

.b13{
  width: 100%; 
  height: 360px !important;
  background: linear-gradient(25deg,rgba(15, 89, 224, 0.65),rgba(22, 11, 189, 0.85))
}

.b12{
  background: url('https://images.unsplash.com/photo-1492305175278-3b3afaa2f31f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max') top center / cover no-repeat;
}

.b14{
  margin-top: -310px
}

.grey-text { 
  color: #3f4556; 
 }

 .blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
 /* z-index: 1; */
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-weight: 500;
  font-size: 1.3rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  padding-top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 6px;
  position: absolute;
  border-top: 1px solid #dadada;
  color: #007bff;
}
.blog-card .description .read-more a {
  font-size: 16px;
  display: inline-block;
  position: relative;
/*  border: 1px solid;
  padding: 2px 10px; */
  border-radius: 4px;
  text-transform: uppercase;
}
.blog-card .description .read-more .fa-arrow-right {
  margin-left: -9px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more:hover .fa-arrow-right {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 10px 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card:hover .details {
  left: 0%;
}

.login{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 30px auto
}

.page-footer{
  margin-top: 20px;
}

.btn-logout{
  background-color: #535353;
  color:#ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.btn-logout:hover{
  text-decoration: none;
  color:#ecfd00;
}

/* .admin-container{
  position: relative;
} */
.admin-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  "sidebar nav nav nav"
  "sidebar main main main";
}